body{
    text-align: justify !important;
}
/* Titulo */
body > div > div > img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(30%);
}
body > div > div > div > h1{
    color: #fff;
    font-weight: 700;
    font-size: 34px !important;
    line-height: 30px !important;
}
body > div > div > div.uk-position-bottom-center > a{
    display: block;
    margin-bottom: 20px;
    color: #0798B6;
}
body > div:nth-child(1) > div > div.uk-position-bottom-center > h1 > span{
    font-size: 18px;
    font-weight: 300;
}

/* Certificación */
body > div:nth-child(2){
    background: linear-gradient(180deg, #416567 0%, #1C2D2E 100%);
}

body > div:nth-child(2) > div > div.uk-child-width-expand > h2{
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}
body > div:nth-child(2) > div > div.uk-child-width-expand > h1{
    font-weight: 700;
    margin-top: 10px;
}
body > div:nth-child(2) > div > div > p{
    color: #fff;
}

/* Responsive */
@media (max-width: 700px){
    body > div:nth-child(2) > div > div.uk-child-width-expand > h1{
        font-size: 24px !important;
    }
}
@media (max-width: 448px){
    body > div:nth-child(1) > div > img{
        height: 50vh;
    }
}
@media (max-width: 300px){
    body > div:nth-child(2) > div > div.uk-child-width-expand > h1{
        font-size: 20px !important;
        padding: 10px;
    }
    body > div:nth-child(2) > div > div.uk-child-width-expand > h2{
        font-size: 14px !important;
    }
    body > div:nth-child(1) > div > div.uk-position-bottom-center > h1 > span{
        font-size: 14px !important;
    }
    body > div:nth-child(1) > div > div.uk-position-bottom-center > h1{
        font-size: 24px !important;
    }
}

/* Footer */
body > footer{
    background-color: #f4f4f4;
    margin-top: 0px;
}
body > footer > img{
    width: 250px;
    margin-bottom: 15px;
}
body > footer > h6{
    color: #416567;
    padding-bottom: 20px;
    font-size: 18px !important;
}
body > footer > hr{
    margin-bottom: 20px;
    height: 2px;
    border-top: 2px solid #416567;
}
body > footer > div > div > p{
    color: #416567; 
    font-weight: 500;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

@media (max-width: 430px){
    body > footer > h6{
        font-size: 14px !important;
    }
    body > footer > img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    body > footer > div{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 35px;
    }
}