body{
    text-align: justify !important;
}
/* Titulo */
body > div > div > img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(30%);
}
body > div > div > div > h1{
    color: #fff;
    font-weight: 700;
    font-size: 34px !important;
}
body > div > div > div.uk-position-bottom-center > a{
    display: block;
    margin-bottom: 20px;
    color: #0798B6;
}

/* Fabricación */
body > div.uk-container-expand > div > div.uk-position-bottom-center > h1 > span{
    font-size: 14px;
    font-weight: 500;
}
body > div.uk-container-expand > div > div.uk-position-bottom-center > h1{
    line-height: 30px;
}
body > div.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-flex-middle.uk-grid > div.uk-card-media-left.uk-cover-container.uk-first-column > img{
    height: 100%;
    filter: brightness(100%);
    min-height: 300px;
    margin-bottom: 25px;
}
body > div.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-flex-middle.uk-grid > div:nth-child(2) > div > p{
    color: rgb(47, 47, 47);
    font-weight: 500;
}
body > div:nth-child(3){
    background: linear-gradient(180deg, #0798B6 0%, #00778F 100%);
    margin-bottom: 0 !important;
}
body > div:nth-child(3) > div.uk-card-media-right.uk-cover-container > img{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    filter: brightness(100%);
    margin: auto;
    display: block;
}
body > div:nth-child(3) > div.uk-first-column > div > h2{
    color: #fff;
    margin-top: 0;
    font-weight: 700;
    font-size: 32px;
}
body > div:nth-child(3) > div.uk-first-column > div > p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
}
#modal-container2 > div > h2{
    color: #416567;
    font-weight: 700;
}
body > div.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-flex-middle.uk-grid > div:nth-child(2) > div > p > a{
    color: #0798B6;
}

/* Responsive */
@media (max-width: 639px){
    body > div.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-flex-middle.uk-grid.uk-grid-stack > div.uk-grid-margin.uk-first-column > div{
        padding-left: 0;
    }
}
@media (max-width: 448px){
    body > div:nth-child(1) > div > img{
        height: 50vh;
    }
}
@media (max-width: 470px){
    body > div:nth-child(3) > div.uk-first-column > div > h2{
        font-size: 24px;
    }
}
@media (max-width: 886px){
    body > div:nth-child(3) > div.uk-card-media-right.uk-cover-container{
        display: none;
    }
    body > div:nth-child(3) > div.uk-first-column{
        width: 100%;
    }
}

/* Footer */
body > footer{
    background-color: #f4f4f4;
    margin-top: 0px;
}
body > footer > img{
    width: 250px;
    margin-bottom: 15px;
}
body > footer > h6{
    color: #416567;
    padding-bottom: 20px;
    font-size: 18px !important;
}
body > footer > hr{
    margin-bottom: 20px;
    height: 2px;
    border-top: 2px solid #416567;
}
body > footer > div > div > p{
    color: #416567; 
    font-weight: 500;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

@media (max-width: 430px){
    body > footer > h6{
        font-size: 14px !important;
    }
    body > footer > img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    body > footer > div{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 35px;
    }
}