/* ABOUT US */
body>.section1>div>div.uk-position-bottom-center>h1>span {
    font-size: 14px;
    font-weight: 700;
}

body>.section1>div:nth-child(2)>div>h3:nth-child(1) {
    color: #0798B6;
}

body>.section1>div:nth-child(2)>div>h3:nth-child(3) {
    color: #0798B6;
}

body>.section1>div:nth-child(2)>div>p {
    color: rgb(47, 47, 47);
    font-weight: 500;
}

body>.section2 {
    background: linear-gradient(180deg, #0798B6 0%, #00778F 100%);
    margin-bottom: 0 !important;
}

body > .section2 > img{
    max-width: 400px;
    margin: auto;
}

body>.section2>div>span {
    color: #fff;
}

body>.section2>div>h2 {
    color: #fff;
    margin-top: 0;
    font-weight: 700;
    font-size: 32px;
}

body>.section2>div>p {
    color: #fff;
    margin-top: 10px;
}

#modal-container>div>h6 {
    margin: 0;
    font-weight: 700;
    color: #0798B6;
}

#modal-container>div>p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#modal-container>div>h2 {
    font-weight: 700;
    color: #416567;
}

.button-black {
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    padding: 8px 25px;
}

.button-black:hover {
    color: #fff;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 886px) {
    body>.section2>div.uk-card-media-right.uk-cover-container {
        display: none;
    }

    body>.section2>div.uk-first-column {
        width: 100%;
    }

    body > .section1>img{
        margin-bottom: 25px;
    }

    body > .section2 > img{
        display: none;
    }
}

@media (max-width: 639px) {
    body>.section1>div>div {
        padding-left: 0;
    }
}

@media (max-width: 470px) {
    body>.section2>div>h2 {
        font-size: 24px;
    }
}

@media (max-width: 448px) {
    body>header>img {
        height: 50vh;
    }
}

@media (max-width: 400px) {
    body>.section2>div>h2 {
        font-size: 18px;
    }

    #modal-container>div>h2 {
        font-size: 22px;
    }
}