/* Blockchain Nuclear */
body>section>a>div {
    z-index: 1;
}

body>section:nth-child(2)>h1 {
    color: #416567;
}

.button-black {
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    padding: 8px 25px;
}

.button-black:hover {
    color: #fff;
    text-decoration: none;
}

#modal-container>div>h2 {
    font-weight: 700;
    color: #416567;
}

body>section:nth-child(2)>p>a {
    color: #0798B6;
}

body>section.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-grid {
    background: linear-gradient(180deg, #0798B6 0%, #00778F 100%);
}

body>section.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-flex-middle.uk-grid>div.uk-first-column>p {
    color: #fff;
}

body>section.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-flex-middle.uk-grid>div.uk-first-column>h3 {
    color: #000;
}

#modal-container2>div>h2 {
    color: #416567;
    font-weight: 700;
}

body>section.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-flex-middle.uk-grid {
    margin-bottom: 0 !important;
}

body>section:nth-child(4) {
    background: #fff !important;
}

body>section:nth-child(6) {
    background: #fff !important;
}

body>section:nth-child(4)>div.uk-first-column>p {
    color: rgb(47, 47, 47) !important;
}

body>section:nth-child(6)>div.uk-first-column>p {
    color: rgb(47, 47, 47) !important;
}

/* Responsive */
@media (max-width: 639px) {
    body>section.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-padding-large.uk-flex-middle.uk-grid.uk-grid-stack>div.uk-first-column.uk-grid-margin>h3 {
        margin-top: 25px;
    }
}

@media (max-width: 448px) {
    body>header>img {
        height: 50vh;
    }

    body>section.uk-container.uk-container-expand.uk-margin-large.uk-margin-remove-bottom>div:nth-child(1)>div.uk-grid-margin.uk-first-column>div>div.uk-flex.uk-flex-middle>p {
        display: none !important;
    }
}

@media (max-width: 430px) {
    body>section.uk-container-expand>div>div.uk-position-bottom-center>h1 {
        font-size: 24px !important;
    }

    body>section:nth-child(2)>h1 {
        font-size: 1.5rem;
    }

    #modal-container2>div>h2 {
        font-size: 22px;
    }

    #modal-container>div>h2 {
        font-size: 22px;
    }
}