/* ENGINEERING */
body>section>div:nth-child(2)>h2 {
    color: #0798B6;
    font-size: 32px;
}

body>section>div>p {
    color: rgb(47, 47, 47);
    font-weight: 500;
    margin-top: 10px;
}

body>section:nth-child(3) {
    background: linear-gradient(180deg, #0798B6 0%, #00778F 100%);
    margin-bottom: 0 !important;
}

body>section:nth-child(3)>div>h2 {
    color: #fff;
    font-size: 32px;
}

body>section:nth-child(3) div>p {
    color: #fff;
    margin-top: 10px;
}

body>section:nth-child(3)>img {
    max-width: 400px;
    margin: auto;
}

#modal-container>div>h6 {
    margin: 0;
    font-weight: 700;
    color: #0798B6;
}

#modal-container>div>p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#modal-container>div>h2 {
    font-weight: 700;
    color: #416567;
}

#modal-container2>div>h2 {
    font-weight: 700;
    color: #416567;
}

.button-black {
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    padding: 8px 25px;
}

.button-black:hover {
    color: #fff;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 886px) {
    body>section:nth-child(3)>img {
        display: none;
    }
}

@media (max-width: 500px) {
    body>section:nth-child(2) div>h2 {
        font-size: 24px !important;
    }

    body>section:nth-child(3)>div>h2 {
        font-size: 24px !important;
    }

    #modal-container2>div>h2 {
        font-size: 22px;
    }

    #modal-container>div>h2 {
        font-size: 22px;
    }
}

@media (max-width: 470px) {
    body>section:nth-child(3)>div>h2 {
        font-size: 28px;
    }

    body>section:nth-child(2)>div>h2 {
        font-size: 28px;
    }
}

@media (max-width: 448px) {
    body>header>img {
        height: 50vh;
    }
}