/* Footer */
body > footer{
    background-color: #f4f4f4;
    margin-top: 0px;
}
body > footer > img{
    width: 250px;
    margin-bottom: 15px;
}
body > footer > h6{
    color: #416567;
    padding-bottom: 20px;
    font-size: 18px !important;
}
body > footer > hr{
    margin-bottom: 20px;
    height: 2px;
    border-top: 2px solid #416567;
}
body > footer > div > div > p{
    color: #416567; 
    font-weight: 500;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

/* Responsive */
@media (max-width: 430px){
    body > footer > h6{
        font-size: 14px !important;
    }
    body > footer > img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 175px;
    }
    body > footer > div{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 400px){
    body > footer > h6{
        font-size: 12px !important;
    }
}