body > header > video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(30%);
}
body > header > h1{
    color: #fff;
}

@media (max-width: 440px){
    body > header  > h1{
        text-align: center;
        font-size: 18px !important;
    }
}
