/* Fabricación */
body > section > div.uk-card-body.uk-padding-remove-right.uk-padding-remove-top.uk-padding-remove-bottom > p{
    color: rgb(47, 47, 47);
    font-weight: 700;
}
#modal-container2 > div > h2{
    color: #416567;
    font-weight: 700;
}
.button-black{
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    padding: 8px 25px;
}
.button-black:hover{
    color: #fff;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 448px){
    body > header > img{
        height: 50vh;
    }
}
@media (max-width: 400px) {
    #modal-container2 > div > h2{
        font-size: 22px;
    }
}
