/* Certificación */
body > section{
    background: linear-gradient(180deg, #416567 0%, #1C2D2E 100%);
}

body > section > h2{
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}
body > section > h1{
    font-weight: 700;
    margin-top: 10px;
}
body > section  p{
    color: #fff;
}

/* Responsive */
@media (max-width: 700px){
    body > section> h1{
        font-size: 24px !important;
    }
}
@media (max-width: 448px){
    body > header > img{
        height: 50vh;
    }
    body > header > h1{
        font-size: 24px !important;
    }
}
@media (max-width: 300px){
    body > header h1{
        font-size: 20px !important;
        padding: 10px;
    }
}
