body > section{
    max-width: 1200px;
}

/* Proyectos */
body > section > article > div > div > ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin.uk-position-bottom-center > li > a{
    background-color: #fff;
    width: 10px;
    height: 10px;
}
body > section > article > div > div > ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin.uk-position-bottom-center > li.uk-active > a{
    background-color: #0798B6;
}
body > section > article > div > a.uk-position-center-left.uk-position-small.uk-icon.uk-slidenav-previous.uk-slidenav{
    color: #0798B6;
}
body > section > article > div > a.uk-position-center-right.uk-position-small.uk-icon.uk-slidenav-next.uk-slidenav{
    color: #0798B6;
}
body > section > article > div > div > ul > li > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
body > section > article > div.uk-card-body{
    padding: 40px !important;
}
body > section > article > div > h3{
    color: #0798B6 !important;
    font-weight: 600 !important;
}
body > section > article > div > a{
    background-color: #0798B6 !important;
    border-radius: 8px !important;
    color: #fff !important;
    text-decoration: none !important;
    padding: 0px 25px !important;
    text-transform: none !important;
}
.uk-modal-container > div > h2{
    color: #416567;
    font-weight: 700;
}

/* Responsive */
@media (max-width: 639px){
    div > div > h2{
        text-align: initial;
        font-size: 18px !important;
    }
}
@media (max-width: 448px){
    body > div:nth-child(1) > div > div.uk-position-bottom-center > h1{
        font-size: 24px !important;
    }
    body > header > img{
        height: 50vh;
    }
    body > section > article > div.uk-card-body{
        padding: 40px !important;
    }
}
@media (max-width: 400px){
    body > section > article > div > div > ul > li > img{
        height: 200px;
    }
    body > section > article > div > h3{
        font-size: 20px !important;
    }
}