/* Certificación */
body > section{
    background: linear-gradient(180deg, #416567 0%, #1C2D2E 100%);
}

body > section > div.uk-child-width-expand > h2{
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}
body > section > div.uk-child-width-expand > h1{
    font-weight: 700;
    margin-top: 10px;
    color: #fff;
}

body > section > div > p{
    color: #fff;
}
.button-black{
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    padding: 8px 25px;
}
.button-black:hover{
    color: #fff;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 700px){
    body > section > div > h1{
        font-size: 24px !important;
    }
}
@media (max-width: 448px){
    body > header > img{
        height: 50vh;
    }
    body > header > h1{
        font-size: 24px !important;
    }
}
@media (max-width: 300px){
    body > section > div.uk-child-width-expand > h1{
        font-size: 20px !important;
        padding: 10px;
    }
}
