/* Certificación */
body > section{
    background: linear-gradient(180deg, #416567 0%, #1C2D2E 100%);
}
body > section > h1{
    font-weight: 700;
    font-size: 34px;
    color: #fff;
}

body > section > p{
    color: #fff;
}

#modal-container2 > div > h2{
    font-weight: 700;
    color: #416567;
}
.button-black{
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    padding: 8px 25px;
}
.button-black:hover{
    color: #fff;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 700px){
    body > section > h1{
        font-size: 24px !important;
    }
}
@media (max-width: 448px){
    body > header > img{
        height: 50vh;
    }
    #modal-container2 > div > h2{
        font-size: 22px;
    }
}
@media (max-width: 300px){
    body > section > h1{
        font-size: 20px !important;
    }
}